# Виртуальное окружение
venv/
env/
__pycache__/
*.pyc

# Базы данных (чтобы не слить личные контакты)
*.db
contacts.db

# Папки сборки PyInstaller
build/
dist/
*.spec

# Настройки редакторов кода
.idea/
.vscode/
